/* ************************************************************************************************************* */

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Sigmar", serif;
  letter-spacing: 1px;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0px;
}

/* ************************************************************************************************************* */

.homePage {
  /* background-color: red; */
  background-image: url('./Images_Used/bg_image.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ************************************************************************************************************* */

.navbar {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  height: 30px;
  width: 35px;
  filter: brightness(0) saturate(100%) invert(18%) sepia(26%) saturate(3037%) hue-rotate(164deg) brightness(86%) contrast(96%);
}
.navbar .tabs {
  display: flex;
  justify-content: space-between;
  width: 45%;
  background: linear-gradient(to right, #165c76, #071716);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

/* ************************************************************************************************************* */

.tagline {
  /* background-color: red; */
  margin: 10px 1vw;
  /* padding-left: 75px; */
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.tagline .text {
  width: 75%;
  color: white;
  font-size: 1.5rem;
  margin: 0;
  background: linear-gradient(to bottom, white, black 18vh);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tagline .text h1 {
  margin: 0;
  color: white;
}
.tagline .text p {
  color: black;
}

/* ************************************************************************************************************* */

.homePage button {
  background-color: transparent;
  height: 35px;
  color: linear-gradient(to right, black 15vw, white);
  border: 1px solid linear-gradient(to right, black 15vw, white);;
  border-radius: 5px;
  margin: 0px 5px;
}
.tagline div:nth-child(2) button {
  background-color: white;
  /* color: white; */
  margin: 0 10vh 10vh 0;
  width: 10vw;
}

/* ************************************************************************************************************* */

.AboutUs {
  /* background-color: red; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, #dedeea, #32667e);
}

/* ************************************************************************************************************* */

.special {
  /* background-color: yellow; */
  margin: 0 10vw
}
.special h1 {
  margin: 0px 0;
  font-size: xxx-large;
}
.special p {
  margin: 0;
  width: 60%;
  color: rgb(59, 59, 59)
}
.special button {
  position: relative;
  right: -70vw;
  top: -10vh;
  display: block;
}

/* ************************************************************************************************************* */

.specialCards {
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
  margin: 0 10vw;
  width: 90vw;
  margin: 0 5vw;
  gap: 25px;
}
.card {
  /* background-color: purple; */
  border-radius: 50px 50px 0 0;
  padding-bottom: 10px;
  /* border: 2px solid black; */
}
.card p:nth-child(1) {
  display: inline;
  position: relative;
  right: -37vw;
  top: -40vh;
  font-size: xxx-large;
  margin: 0;
}
.card img {
  height: 350px;
  width: 450px;
  border-radius: 50px;
  position: relative;
  left: -24px;
}
.card p:nth-child(3) {
  margin: 0;
  padding: 0px 10px;
}

/* ************************************************************************************************************* */

.Destination {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #32667e, #dedeea);
  /* background: linear-gradient(to bottom, #dedeea, #32667e); */
}